<?xml version="1.1"?>
<config>
    <modules>
        <Cammino_Socialsoul>
            <version>0.0.1</version>
        </Cammino_Socialsoul>
    </modules>
    <global>
        <helpers>
            <cammino_socialsoul>
                <class>Cammino_Socialsoul_Helper</class>
            </cammino_socialsoul>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <cammino_socialsoul_observer>
                        <class>Cammino_Socialsoul_Model_Observer</class>
                        <method>sendSocialSoul</method>
                    </cammino_socialsoul_observer>
                </observers>
            </sales_order_place_after>
            <controller_action_layout_load_before>
                <observers>
                    <cammino_socialsoul_observer>
                        <class>Cammino_Socialsoul_Model_Observer</class>
                        <method>setLomadeeParamFromLink</method>
                    </cammino_socialsoul_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
     <frontend>
       <routers>
          <socialsoul>
              <use>standard</use>
              <args>
                 <module>Cammino_Socialsoul</module>
                 <frontName>socialsoul</frontName>
              </args>
           </socialsoul>
       </routers>
    </frontend>
</config>